.container {
	text-align: center;
	margin-inline: auto;
	width: min(90%, 70.5rem);
}
.title {
	padding: 2rem;
	font-size: 2.7rem;
	margin-inline: auto;
	width: min(90%, 70.5rem);
}
.description {
	font-size: 1rem;
	line-height: 2rem;
	margin-inline: auto;
	width: min(90%, 70.5rem);
}
.h1 {
	font-size: 2.3rem;
	color: #666666;
}
.subject {
	font-size: 2rem;
}
.description {
	font-size: 1.7rem;
	color: #666666;
}
.header {
	font-size: 1.8rem;
	display: inline-flex;
	justify-content: center;
	padding: 1.5rem;
}
